
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/_Shared/_ThemeLayout.cshtml";
}
<div class="row">


<div style="margin-left:40%;margin-top:50px;" class="row">
    <p>You Requested Link is Not valid or available</p>
    <br />
    <a class="btn btn-default" href="/Home/Index/">Go Home</a>
</div>

    <div style="margin-left:30%" class="col-lg-6">
        <img style="" width="80%" src="~/Content/assets/img/appimages/errorpage.jpg" />
    </div>
</div>
