@using ILibrary.HRM;
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/_Shared/_ThemeLayout.cshtml";
    ResetPass rp = ViewBag.ResetPass;
}

<h2>ResetPassword</h2>

<div style="margin-left:30%;margin-top:5%;" class="col-md-4">

    <!-- Left and right buttons -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Reset Your Password</h6>

        </div>

        <div class="card-body">
            <form action="/Person/ResetPassword/" method="post">
                <div class="form-group">
                    <label>Code</label>
                    <input id="hashCode" name="hashCode" type="text" value="@rp.HashCode" readonly="readonly" class="form-control">
                </div>

                <div class="form-group">
                    <label>Your Email</label>
                    <input id="email" name="email" type="email" value="@rp.Email" readonly="readonly" class="form-control">
                </div>
                <div class="form-group">
                    <label>Enter Password</label>
                    <input name="password" id="password" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Enter Password</label>
                    <input name="password2" id="password2" type="password" class="form-control">
                </div>



                <div class="d-flex justify-content-between align-items-center">
                    <button id="btnSubmit" type="submit" class="btn btn-danger">Submit <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /left and right buttons -->


</div>
<script type="text/javascript">
    $('#btnSubmit').attr('disabled', 'disabled');
    $('#passtwo,#passone').keyup(function () {
        if ($('#passone').val() == $('#passtwo').val())
        {
            $('#btnSubmit').removeAttr('disabled');
        }
        else {
            $('#btnSubmit').attr('disabled', 'disabled');

        }

    });
    $('#btnSubmit').click(function (e) {
        //var Obj = { PassCode: $('#passcode').val(), Email: $('#email').val(), PassOne: $('#passone').val(), PassTwo: $('#passtwo').val()};

       

    });
</script>