@using ILibrary.Production
@model Product
@{
    List<SelectListItem> categories = ViewBag.CategorybyID;

}
@*<label class="form-group-float-label">select Category</label>*@

@*<a href="#">RequestNew</a>*@
@Html.DropDownListFor(x => x.SubCategory.Category.Name, categories, "-- Select Category --", new { @class = "form-control", Id = "CategorySelect" })



<script type="text/javascript">
    $('#CategorySelect').change(function () {
        var Id = $(this).val();
        $.ajax({
            url: "/Product/GetSubCategory/" + Id,
            method: "GET"
        }).done(function (result) {
            $('#SubCategory').html(result);
        });
    });
</script>


