<ul class="list-unstyled">
    <li><a class="list-group-item list-group-item-danger text-center text-uppercase c-font-18" href="/AdminPanel/Index">DashBoard</a></li>

          
                <li><a class="list-group-item list-group-item-info text-center text-uppercase" href="/Product/GetInventory/">Get Inventory</a></li>
                <li><a class="list-group-item list-group-item-info text-center text-uppercase" href="/Product/GetInActive/">Get InActive Inventory</a></li>

                <li><a class="list-group-item list-group-item-info text-center text-uppercase" href="/Product/AddProduct/">Add Item</a></li>
                <li><a class="list-group-item list-group-item-info text-center text-uppercase" href="/AdminPanel/BulkUpload/">BulkUpload</a></li>

    <li><a class="list-group-item list-group-item-info text-center text-uppercase" href="/AdminPanel/ViewOrders/">Manage Orders</a></li>
    <li><a class="list-group-item list-group-item-info text-center text-uppercase" href="/Person/LogOut">LogOut</a></li>
</ul>